<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script> <!--Script per far muovere la scritta animata-->
	<script src="https://kit.fontawesome.com/4726b61960.js" crossorigin="anonymous"></script> <!--E' come un token per usare FontAwesome-->
	<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css"> <!--Import di tutte le icone di FontAwesome-->
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> <!--Import di bootstrap-->
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet"> <!--Font da internet-->
	
	<!--I miei css-->
	<link href="css/animated_background.css" rel="stylesheet">
    <link href="css/button_start.css" rel="stylesheet">
	<link href="css/animated_text.css" rel="stylesheet">
	<link href="css/div_chat_list.css" rel="stylesheet">
	<link href="css/menu_buttons.css" rel="stylesheet">
	<link href="css/all.css" rel="stylesheet">

</head>
<body>
	<div class="banner-text noselect">
		<ul>
			<li><a target="_blank" href="https://www.instagram.com/_stefano_leone_/"><i class="fab fa-instagram fa-fw"></i>Instagram</a></li>
			<li><a target="_blank" href="https://www.facebook.com/stefano.lyon/"><i class="fab fa-facebook fa-fw"></i>Facebook</a></li>
			<li><a target="_blank" href="https://github.com/steph-lion/DMI-Chat"><i class="fab fa-github fa-fw"></i>GitHub</a></li>
		</ul>
		<h2 id="dmi_chat">DMI Chat &nbsp;<i class="fas fa-comments fa-fw"></i></h2>
		<h3 id="developed_by_me" class="glow">Developed by Stefano Leone</h3>
		<h4 style="text-align: center;" class="animated-text" id="anim_text">Web programming project</h4>
        <div style="text-align: center;">
			<button class="button-start" id="join" onclick="setup()">
				<h3>Join the club!</h3> <!--Carattere dello spazio. fa-fw mette anche uno spazio-->
			</button>
		</div>
		<center>
			<div id="div_chat_list">
				<p id="menu_title" style="font-size: 2vw;">CHOOSE AN OPTION</p>
				<hr style="border-style: solid;">
				<div id="middle_box"></div> <!-- Qui dentro verranno inserite le rooms-->
				<div id="box_containing_username">
					<hr style="border-style: solid;">
					<i class="fa fa-user icon user_icon"></i><input type="text" class="input-field" placeholder="Username...">
				</div>
			</div>
			<button id="back_button" onclick="goBack()">Go Back</button>
		</center>
	</div>
	<div class="animation-area">
		<ul class="box-area">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
	<script src="/socket.io/socket.io.js"></script>
    <script src="script/chat.js"></script>
	<script src="script/animations.js"></script>
</body>
</html>
