<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminale</title>
    <link href="/public/css/terminal.css" rel="stylesheet">
</head>
<body>
        <div class="main-div">
            <div class="gray-bar">
                <div class='title-bar'>stefano@ubuntu: ~</div>
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
            </div>
            <div class='prompt'>
                <span class="green-text">stefano@ubuntu: </span><span class="tilde">~</span><span class="dollar">$</span><span class="cursor"></span>
                <!-- <textarea class="text-area"></textarea> -->
            </div>
        </div>
</body>
</html>