* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Baloo 2", cursive;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: orange;
  }
  .username-plus-button{
    position: absolute; /*Per attaccare il div in basso */
    bottom: 2%; 
    width: 100%;
  }
  .room-button{
    width: 50%;
    height: 20%;
    border-radius: 10px;
    margin: 20px;
    outline: none;
  }
  #box_containing_rooms{
    height: 35vh; 
    overflow: auto;
  }
  #box_containing_username{
    height: 8vh;
    line-height: 8vh; /*Per centrare verticalmente */
  }
  #developed_by_me{
    display: none;
    margin-left: 2%;
    margin-top: -1%;
    font-style: italic;
    color: darkgreen;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }