@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
  .menu_buttons {
	 width: 50%;
	 height: 20%;
	 background: #f3f0f1;
	 position: relative;
	 background: #f3f0f1;
	 margin-bottom: 25px;
	 border-radius: 32px;
	 text-align: center;
	 cursor: pointer;
	 transition: all 0.1s ease-in-out;
}
 .menu_buttons span {
	 font-size: 2vw;
	 line-height: 50%;
	 font-family: "Montserrat", sans-serif;
	 font-weight: semibold;
}
 .menu_buttons{
	 box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
	 color: #6f6cde;
}
 .menu_buttons:hover {
	 opacity: 0.3;
	 box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
 .menu_buttons:active {
	 opacity: 1;
	 box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
	 color: #79e3b6;
}